*{
    
    box-sizing: border-box;
}

.articles{
    display: flex;
}
 .visible-text{
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
 }

.cropped{
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
    overflow: hidden;
}

.both-scrolls{
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
    overflow: scroll;
    cursor: all-scroll;
}

.vertical-scroll{
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
    overflow: auto;
    cursor: all-scroll;
}

