*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: Verdana;
    color: #555;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
   
    background-image: linear-gradient(60deg, red, orange);
    
}
h1{
    color: white;
    /* padding: .5em; */
    text-align: center;
}
main{
    flex-grow: 1;
    display: flex;
    font-size: 1.25em;
    
}
.navigation{
    padding: .5em;
    width: 20vw;
}
.nav-list{
    padding: 0px;
    list-style-type: none;
}
.nav-list-item{
    line-height: 2em;
    height: 2em;
    background-color: #808080;
    margin-bottom: 0.5em;
    
    
}
.nav-list-link{
    width: 100%;
    display: inline-block;
    padding: 0 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section{
    
    padding: .5em;
    width: 60vw;
}
.section__header{
    text-align: center;
    font-size: 5vw;
}
.units-list{
    
    line-height: 1.75em;
}

.li-units{
    font-size: 1.25em;
}
.css-units{
    
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
     
}
.news{
    padding: .5em;
    width: 20vw;
}

.footer{
    text-align: center;
    padding: .5em;
    background-color: #e5e5e5;
}