*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: Verdana;
    color: #555;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    display: flex;
    background-image: linear-gradient(60deg, red, orange);
    
}
h1{
    color: white;
    padding: .5em;
    margin: auto;
}
main{
    flex-grow: 1;
    display: flex;
    font-size: 1.25em;
    
}
.navigation{
    padding: .5em;
    width: 20%;
}
.nav-list{
    padding: 0px;
    list-style-type: none;
    
    color: white;
    
}
.nav-list-item{
    line-height: 2em;
    height: 2em;
    background-color: #808080;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.nav-list-link{
    background-color: #808080;
    text-decoration: none;
    color: white;
    /* margin-left: 0.5em; */
    font-size: 16px;
    height: 2em;
    padding-left: 0.5em;
}

.section{
    font-size: 1.25em;
    padding: .5em;
    width: 60%;
}
.section_header{
    text-align: center;
    font-size: 5vw;
}
.inits-list{
    line-height: 1.75em;
}
.css-units{
    color: #808080;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
     
}
.news{
    padding: .5em;
    width: 20%;
}

.footer{
    text-align: center;
    padding: .5em;
    background-color: #e5e5e5;
}