*{
    box-sizing: border-box;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.navigation{
    margin: 0;
    display: flex;
    list-style-type: none;
}
.navigation_item{
    margin-right: 16px;
}
.footer_text{
    margin: auto;
}

.content{
    flex-grow: 1;
    display: flex;
}
.dashboard {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
    
}
.news{
    
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: grey;
    
    
}
.test{
    display: flex;
    justify-content: center;
}
.text{
    
    list-style-type: none;
}
.type{
    height: 40px;
   
}
.footer{
    display: flex;
    height: 40px;
    background-color: green;
}