* {
    box-sizing: border-box;
  }
  .tooltip-text{
    position: relative;
    margin: 16px;
    border-bottom: 1px dotted black;
    display: inline-flex;
  }
  
  .tooltip {
    position: absolute;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
    color: white;
    
  }
  
  .tooltip-text:hover  .tooltip{
    display: block;
  }