*{
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.article {
    flex: 300px 1 0;
    margin: 8px;
    padding: 16px;
    min-width: 300px;
    background-color: bisque;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}