*{
    box-sizing: border-box
}

header>h1 {
    text-align: center;
}

.article {
    flex: 300px 1 0;
    padding: 16px;
    margin: 8px;
    background-color: bisque;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}