header{
    display: flex;
    justify-content: center;
   
}
.article{
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}
.articles-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 300px;

}